<div class="col-lg-4 mx-auto">
    <div class="card">
        <div class="card-header">
            Nuevo Héroe
        </div>
        <div class="card-body">
            <form (submit)="uploadPhoto(name, appearance, power, description)">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nombre" required #name>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Apariencia" required #appearance>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Poder" required #power>
                </div>
                <div class="form-group">
                    <textarea rows="2" class="form-control" placeholder="Descripción" required #description></textarea> 
                 </div>

                <input type="file" class="d-none" (change)="onPhotoSelected($event)" #photoInput>
                <img [src]="photoSelected || 'assets/no-image.png'" class="img-fluid" alt="No image"
                    (click)="photoInput.click()">
                <button class="btn btn-primary btn-block">
                    Subir
                </button>
            </form>
        </div>
    </div>
</div>
