<div class="row" *ngIf="!photo; else main_content">
    <h1>Loading...</h1>
</div>
<ng-template #main_content>
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <img [src]="'http://localhost:4003/' + photo.imagePath" class="img-fluid">
            </div>
        </div>
        <div class="col-md-7">
            <div class="card">
                <form class="card-body" (submit)="updatePhoto(name, appearance, power, description)">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nombre" [value]="photo.name" #name>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Apariencia" [value]="photo.appearance" #appearance>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Poder" [value]="photo.power" #power>
                    </div>
                    <div class="form-group">
                        <textarea rows="2" class="form-control" placeholder="Descripción" [value]="photo.description" #description></textarea>
                    </div>
                    <button class="btn btn-primary btn-block">
                        Actualizar
                    </button>
                </form>
            </div>
        </div>
    </div>
    <button class="btn btn-danger" (click)="deletePhoto(photo._id)">
        Borrar
    </button>
</ng-template>